<!-- job list  -->
<div class="bg-color-sky-light">
    <div class="content-md container">
        <div class="row">
            <div class="col-md-4 md-margin-b-30">
                <!-- job list v4 -->
                <div class="pricing-list-v4 radius-10">
                    <div class="pricing-list-v4-header">
                        <h4 class="pricing-list-v4-title">前端开发工程师</h4>
                        <span class="pricing-list-v4-subtitle">情非得已公司</span>
                    </div>
                    <div class="pricing-list-v4-content">
                        <div class="margin-b-10">
                            <span class="pricing-list-v4-price"><i class="fa fa-dollar"></i></span>
                            <span class="pricing-list-v4-price">7000／月</span>
                        </div>
                      <!-- find more jobs -->
                        <div class="center-block">
                            <button type="button" class="btn-dark-brd btn-base-sm radius-3">寻找相似工作</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 md-margin-b-30">
                <!-- job list v4 -->
                <div class="pricing-list-v4 radius-10">
                    <div class="pricing-list-v4-header">
                        <h4 class="pricing-list-v4-title">Android内核开发工程师</h4>
                        <span class="pricing-list-v4-subtitle">情非得已公司</span>
                    </div>
                    <div class="pricing-list-v4-content">
                        <div class="margin-b-10">
                            <span class="pricing-list-v4-price"><i class="fa fa-dollar"></i></span>
                            <span class="pricing-list-v4-price">11000／月</span>
                        </div>
                      <!-- find more jobs -->
                        <div class="center-block">
                            <button type="button" class="btn-dark-brd btn-base-sm radius-3">寻找相似工作</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 md-margin-b-30">
                <!-- job list v4 -->
                <div class="pricing-list-v4 radius-10">
                    <div class="pricing-list-v4-header">
                        <h4 class="pricing-list-v4-title">Framework 开发工程师</h4>
                        <span class="pricing-list-v4-subtitle">果壳互动公司</span>
                    </div>
                    <div class="pricing-list-v4-content">
                        <div class="margin-b-10">
                            <span class="pricing-list-v4-price"><i class="fa fa-dollar"></i></span>
                            <span class="pricing-list-v4-price">8000／月</span>
                        </div>
                      <!-- find more jobs -->
                        <div class="center-block">
                            <button type="button" class="btn-dark-brd btn-base-sm radius-3">寻找相似工作</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 md-margin-b-30">
                <!-- job list v4 -->
                <div class="pricing-list-v4 radius-10">
                    <div class="pricing-list-v4-header">
                        <h4 class="pricing-list-v4-title">前端开发工程师</h4>
                        <span class="pricing-list-v4-subtitle">情非得已公司</span>
                    </div>
                    <div class="pricing-list-v4-content">
                        <div class="margin-b-10">
                            <span class="pricing-list-v4-price"><i class="fa fa-dollar"></i></span>
                            <span class="pricing-list-v4-price">7000／月</span>
                        </div>
                      <!-- find more jobs -->
                        <div class="center-block">
                            <button type="button" class="btn-dark-brd btn-base-sm radius-3">寻找相似工作</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 md-margin-b-30">
                <!-- Pricing List v4 -->
                <div class="pricing-list-v4 radius-10">
                    <div class="pricing-list-v4-header">
                        <h4 class="pricing-list-v4-title">BSP驱动开发工程师</h4>
                        <span class="pricing-list-v4-subtitle">锤子科技</span>
                    </div>
                    <div class="pricing-list-v4-content">
                        <div class="margin-b-10">
                            <span class="pricing-list-v4-price"><i class="fa fa-dollar"></i></span>
                            <span class="pricing-list-v4-price">18000／月</span>
                        </div>
                        <div class="center-block">
                            <button type="button" class="btn-dark-brd btn-base-sm radius-3">寻找相似工作</button>
                        </div>
                    </div>
                </div>
                <!-- End Pricing List v4 -->
            </div>
            <div class="col-md-4 md-margin-b-30">
                <!-- Pricing List v4 -->
                <div class="pricing-list-v4 radius-10">
                    <div class="pricing-list-v4-header">
                        <h4 class="pricing-list-v4-title">高级java开发工程师</h4>
                        <span class="pricing-list-v4-subtitle">思维造物科技</span>
                    </div>
                    <div class="pricing-list-v4-content">
                        <div class="margin-b-10">
                            <span class="pricing-list-v4-price"><i class="fa fa-dollar"></i></span>
                            <span class="pricing-list-v4-price">11300／月</span>
                        </div>
                        <div class="center-block">
                            <button type="button" class="btn-dark-brd btn-base-sm radius-3">寻找相似工作</button>
                        </div>
                    </div>
                </div>
                <!-- End Pricing List v4 -->
            </div>
        </div>
        <!--// end row -->
    </div>
</div>
<!-- End Pricing List v4 -->

<!-- Copyright -->
<div class="content-sm container text-center">
    <p>Powered-by <a href="http://themeforest.net/item/ark-responsive-multipurpose-html5-template/13924383?ref=ProThemes_Net">Li Xiaolai</a></p>
</div>
<!-- End Copyright -->
<!--========== END PAGE CONTENT ==========-->
