/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';


/* Navbar styles
-------------------------------------------------- */
/* 李笑来首页图片  */
.jumbotron {
  background-image:url('http://a3.qpic.cn/psb?/f5d6bd92-5c7e-444c-af71-54e734708dcd/1rzzOpoh6ab2qNlncCBRpaIPu0P5Eqkl9QmC3VA4FTU!/b/dN0AAAAAAAAA&bo=CAcaBAgHGgQFCSo!&rf=viewer_4');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
  height: 90%;
}

/* 首页 - “实现财富自由”那一句  */
.jumbotron .title {
  font-family: "calibri", 冬青黑体;
  color: white;
  text-align: right;
  margin-top: 250px;
  margin-bottom: 150px;
  padding-right: 100px;
  font-size: 3em;
}

/* 下面是-“晚了！快跟上，已经有10w人”----------------------------------------------- */
.innerjumbotron {
  background-color: rgba(92,99,117,0.5);
  font-family: "calibri", 微软雅黑;
  text-align: center;
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
  font-size: 21px;
}


/* -三个框头像的部分----------------------------------------------- */
.box{
  background-color: rgb(245,245,245);
  padding-top: 50px;
  margin-color: rgb(245,245,245);
}


#divcss5{margin:10px auto;}/*配合定义头像圆角框 */
#divcss5 img{
  display: block;
  margin-bottom: 20px;
  line-height: 1.42857143;
  border-radius: 50%;  /*定义头像圆角框 */
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: border .2s ease-in-out;
       -o-transition: border .2s ease-in-out;
          transition: border .2s ease-in-out;
}
/*这几行有一行是定义头像位置的，但我不知道是哪一行。。。 */

/* 下面我定义三个框加的内容----文本内容---------------------------------------------- */

.caption {
  padding: 9px;
  color: #333;
  font-family: "calibri", 微软雅黑;
  text-align: center;
  color: #232732；
}

.innerslogan{
  padding: 9px;
  color: #333;
  font-family: "calibri", 微软雅黑;
  text-align: center;
  font-size: 200em;
  color: #232732；
}

/* end------------------------------------------ */

.logo { /* 首页the pm dog 字样 */
  font-family: "calibri", 微软雅黑;
  margin-left: 50px;
  margin-top: 20px;
  font-size: 1em;
}


.btn-success:hover{
  color: #ffffff;
  background-color: #51a351;
}


.slogan {
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;
  color: white;
  top: 12px;
}

.lead {
  margin-bottom: 60px;
  text-align: right;
  color: white;
}


/* Footer styles
-------------------------------------------------- */
footer {
  position: absolute;
  bottom: -70px;
  width: 100%;
  background:
  linear-gradient(rgba(36, 38, 50, 0.45),rgba(0, 0, 0, 0.45))
}

#justpushtobottom {
    height: 200vh;
}
/* Custom footer CSS
-------------------------------------------------- */
.social-icons {
   width: 200%;
   height: 200%;
}
