/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';


/* Navbar styles
-------------------------------------------------- */
/* http://forum.qzy.camp/t/topic/420  */
.navbar.default {
  background-color: red;
  border-color: rgba(92,99,117,0.5);
  margin-bottom: 0;
}

.navbar-default .navbar-brand {
   color: #EF6C00;//字体颜色
   padding: 10px 15px;//上下10px,左右15px
   line-height: 30px;//文字行高
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #FF6F00;//鼠标放置在链接上的文字颜色
  background-color: transparent;//鼠标放置在链接上的背景颜色，这里设为透明
}

/* 李笑来首页图片  */
.jumbotron {
  background-image:url('http://a3.qpic.cn/psb?/f5d6bd92-5c7e-444c-af71-54e734708dcd/1rzzOpoh6ab2qNlncCBRpaIPu0P5Eqkl9QmC3VA4FTU!/b/dN0AAAAAAAAA&bo=CAcaBAgHGgQFCSo!&rf=viewer_4');
  background-repeat: no-repeat;
  background-size: cover;
  height: 200%;
  border-radius: 0;//圆角为0
  margin: 0 -15px 20px;//顶部margin为0，因此可以直接接着导航栏；左右margin为负15，因此可以顶到浏览器的边缘（抵消 container-fluid 的 15px 左右padding);底部margin为20，会跟下面的内容撑开距离
  padding-bottom: 0px;//内部的底部边距，这样按钮不会很靠近底部了
}


/* 首页 - “实现财富自由”那一句  */
.jumbotron .title {
  font-family: "calibri", 冬青黑体;
  color: white;
  text-align: right;
  margin-top: 250px;
  margin-bottom: 250px;
  padding-right: 100px;
  font-size: 3em;
}

/* 下面是-“晚了！快跟上，已经有10w人”----------------------------------------------- */
.innerjumbotron {
  background-color: #232732;
  font-family: "calibri", 微软雅黑;
  text-align: center;
  color: white;
  padding-top: 40px;
  padding-bottom: 30px;
  font-size: 21px;
}

/* -首页三个框头像的部分----------------------------------------------- */
.box{
  // background-image:url('https://ww2.sinaimg.cn/large/006tKfTcgy1fbyfchobnkj31e00t640n.jpg');
  background-color: #232732;
  height: 200%;
  margin-top: 100px;
  margin-bottom: 0px;
}


#divcss5{margin:10px auto;}/*配合定义头像圆角框 */
#divcss5 img{
  display: block;
  margin-bottom: 20px;
  line-height: 1.42857143;
  border-radius: 50%;  /*定义头像圆角框 */
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: border .2s ease-in-out;
       -o-transition: border .2s ease-in-out;
          transition: border .2s ease-in-out;
}
/*这几行有一行是定义头像位置的，但我不知道是哪一行。。。 */

/* 三个框加的内容----文本内容---------------------------------------------- */

.caption {
  padding: 9px;
  color: #333;
  font-family: "calibri", 微软雅黑;
  text-align: center;
  color: #232732；
}

.innerslogan{
  padding: 9px;
  color: #333;
  font-family: "calibri", 微软雅黑;
  text-align: center;
  font-size: 200em;
  color: #232732；
}

/* end------------------------------------------ */

.logo {
  font-family: "calibri", 微软雅黑;
  color: white;
  margin-left: 50px;
  font-size: 1em;
}

.btn-success {
  margin-bottom: 50px;
  margin-top: 50px;
}

// 加入我们。跟我们一起上路--这是鼠标移动到那里的时候的变化
.btn-success:hover{
  font-family: "calibri", 微软雅黑;
  font-size: 25px;
  color: #ffffff;
  background-color: #51a351; //就是那个绿色
}

.btn-su{
  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 12px;
  font-color: white;
  background-color: rgb(245,245,245);
}

.btn-su:hover{
  font-family: "calibri", 微软雅黑;
  font-size: 18px ;
  color: #ffffff;
  background-color: #51a351; //就是那个绿色
}


.slogan {
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;
  color: white;
  top: 12px;
}

.lead {
  margin-bottom: 60px;
  text-align: right;
  color: white;
}

/* jobs index page----------------------------------------------------------------------- */

/*--------------------------------------------------
    [Gutter]
----------------------------------------------------*/

.content-sm {
  padding-top: 40px;
  padding-bottom: 40px;
  font-color: white;
  font-family: "calibri", 微软雅黑;
}

.content-md {
  padding-top: 80px;
  padding-bottom: 100px;
}


@media (max-width: 992px) {
  .md-margin-b-30 {
    margin-bottom: 30px !important;
  }
}


/*--------------------------------------------------
    [Radius]
----------------------------------------------------*/

.radius-3 {
  border-radius: 3px !important;
}

.radius-10 {
  border-radius: 10px !important;
}


/*--------------------------------------------------
    [Colors]
----------------------------------------------------*/

.bg-color-sky-light {
  background: #f7f8fa !important;
}


/*--------------------------------------------------
    [Button]
----------------------------------------------------*/

.btn-dark-brd {
  position: relative;
  display: inline-block;
  line-height: 1.4;
  color: #34343c;
  text-align: center;
  background: transparent;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #34343c;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-dark-brd:focus, .btn-dark-brd:active:focus, .btn-dark-brd.active:focus, .btn-dark-brd.focus, .btn-dark-brd:active.focus, .btn-dark-brd.active.focus {
  outline: none;
}

.btn-dark-brd:hover {
  transition-duration: 200ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.btn-dark-brd:hover, .btn-dark-brd:focus, .btn-dark-brd.focus {
  color: #fff;
  background: #34343c;
  border-color: #34343c;
  text-decoration: none;
}

.btn-dark-brd:after, .btn-dark-brd:before {
  background: transparent;
}

.btn-dark-brd:active, .btn-dark-brd.active {
  background-image: none;
  outline: 0;
}

.btn-dark-brd.disabled, .btn-dark-brd[disabled],
fieldset[disabled] .btn-dark-brd {
  cursor: not-allowed;
  box-shadow: none;
  opacity: .65;
  pointer-events: none;
}

.btn-dark-brd .btn-base-element-xs {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border-left: 1px solid #2b2b31;
  padding: 6px 9px;
}

.btn-dark-brd .btn-base-element-sm {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border-left: 1px solid #2b2b31;
  padding: 9px 11px;
}

.btn-dark-brd .btn-base-element-md {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border-left: 1px solid #2b2b31;
  padding: 12px 13px;
}

.btn-dark-brd .btn-base-element-lg {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border-left: 1px solid #2b2b31;
  padding: 15px 15px;
}

.btn-base-sm { // 寻找相似工作这几个字字体和边框的距离
  font-size: 14px;
  font-weight: 300;
  padding: 10px 10px; // 寻找相似工作这几个字字体和边框的距离
  margin-top: 20px; // 寻找相似工作这几个字外边距
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 60px;
}


/*--------------------------------------------------
    [Pricing List v4]
----------------------------------------------------*/
.pricing-list-v4 {
  text-align: center;
  background: #fff;
  box-shadow: 15px 15px 15px 0 #eff1f8;
}

.pricing-list-v4 .pricing-list-v4-header {
  border-bottom: 1px solid #e4e8f3;
  padding: 40px 20px 40px;
  margin: 10px 10px;
}

.pricing-list-v4 .pricing-list-v4-header .pricing-list-v4-title {
  font-size: 20px; // 三个岗位字体大小
  margin-bottom: 5px;
}

.pricing-list-v4 .pricing-list-v4-header .pricing-list-v4-subtitle {
  display: block;
  font-size: 16px;
  font-weight: 300;
}

.pricing-list-v4 .pricing-list-v4-content {
  padding: 5px 5px; // 缩进7000和情非得已之间的距离
}


.pricing-list-v4 .pricing-list-v4-content .pricing-list-v4-price {
  font-size: 40px;// 薪资数字大小
  font-weight: 400;
  letter-spacing: -3px;
}

.pricing-list-v4 .pricing-list-v4-content .pricing-list-v4-subprice {
  font-size: 30px;
  font-weight: 400;
}

.pricing-list-v4 .pricing-list-v4-content .pricing-list-v4-price-info {
  position: relative;
  display: block;
  letter-spacing: 1px;
}


/* 我们的期许 -------------------------------------------------- */

.job-content .job-content1 {
  font-size: 10px;
  font-weight: 300;
} // 我们的期许

.job-content .job-content2 {
  font-size: 5px;
  font-weight: 300;
} // 我们的期许2

.margin-b-10 {
    margin-bottom: 10px !important;
}

/* sign up styles
-------------------------------------------------- */
body
{
    // background-image:url('https://ww4.sinaimg.cn/large/006tKfTcgy1fby9z0o6foj31e00t6di4.jpg');//
    background-color: #232732;
    background-size: cover;
    padding: 0;
    margin: 0;
}

// Sign In

.wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 99;
    padding-top: 100px;
    margin-left: auto; // 使在页面水平居中
    margin-right: auto; // 使在页面水平居中
    margin-top: auto;
    margin-bottom: auto;
}

// Sign In

p.form-title
{
    font-family: 'calibri' ;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    margin-top: 5%;
    text-transform: uppercase;
    letter-spacing: 4px;
}

form
{
    width: 250px;
    margin: 0 auto;
}

form.login input[type="text"], form.login input[type="password"]
{
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #FFFFFF;
    outline: 0;
}

form.login input[type="submit"]
{
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

form.login input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}

// remember me & forgot-pass

form.login .remember-forgot
{
    font-family: 'calibri' ;
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
}
form.login .forgot-pass-content
{
    font-family: 'calibri' ;
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
form.login label, form.login a
{
    font-family: 'calibri' ;
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}

form.login a
{
    transition: color 0.5s ease;
}

form.login a:hover
{
    color: #2ecc71;
}

.pr-wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}

.show-pass-reset
{
    display: block !important;
}

.pass-reset
{
    font-family: 'calibri' ;
    margin: 0 auto;
    width: 250px;
    position: relative;
    margin-top: 22%;
    z-index: 999;
    background: #FFFFFF;
    padding: 20px 15px;
}

.pass-reset label
{
    font-family: 'calibri' ;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 15px;
}

.pass-reset input[type="email"]
{
    font-family: 'calibri' ;
    width: 100%;
    margin: 5px 0 0 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #000000;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #000000;
    outline: 0;
}

.pass-reset input[type="submit"]
{
    font-family: 'calibri' ;
    width: 100%;
    border: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 10px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

.pass-reset input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}

.powered-by
{
    font-family: 'calibri' ;
    position: relative;
    bottom: 50px;
    color: white;
    padding: 280px;
    text-align: center;
    margin-left: auto; // 使在页面水平居中
    margin-right: auto; // 使在页面水平居中
    margin-bottom: 100px;
}





/* Footer styles
-------------------------------------------------- */
footer {
  position: absolute;
  bottom: -70px;
  width: 100%;
  background:
  linear-gradient(rgba(36, 38, 50, 0.45),rgba(0, 0, 0, 0.45))
}

#justpushtobottom {
    height: 200vh;
}
/* Custom footer CSS
-------------------------------------------------- */
.social-icons {
   width: 200%;
   height: 200%;
}
