<footer>

  <!-- note 先隐藏
  <div class='container'>
    <small class='pull-left text-muted copyright'>
      &copy; 2012-2017 mpv.the.pm.dog
    </small>
    <div class='social-icons pull-right'>
        <a target="_blank" href="https://github.com/mpv-player/mpv"><i class='fa fa-github-alt'></i></a>
        <a target="_blank" href="http://findicons.com/files/icons/2773/pictonic_free/256/chn_wechat.png"><i class='fa fa-weixin'></i>
      </a>

    </div>
  </div>
  -->
</footer>
